<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #4A90E2;">
    <div class="navbar-brand" style="width: 100%; display: flex; justify-content: center;">
        <a class="navbar-item" href="{% url 'download_manga_pdf' %}" style="color: white; text-decoration: none;">
            <span class="icon"><i class="fas fa-file-pdf"></i></span>
        </a>
        <a class="navbar-item" href="/" style="color: white; text-decoration: none;">
            <span class="icon"><i class="fas fa-home"></i></span>
        </a>
        <a class="navbar-item" href="/create" style="color: white; text-decoration: none;">
            <span class="icon"><i class="fas fa-plus"></i></span>
        </a>
    </div>
</nav>
